<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="web.xsl"?>
<Companys xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="web.xsd">
  <Employee>
    <Emp-id>1</Emp-id>
    <Emp-name>Subhajith</Emp-name>
    <Emp-age>54</Emp-age>
    <Emp-salary>89765</Emp-salary>
    <Emp-emailid>subha@gmail.com</Emp-emailid>
    <Emp-phonenumber>8765432109</Emp-phonenumber>
    <Emp-designation> Manager</Emp-designation>
  </Employee>
  <Employee>
    <Emp-id>2</Emp-id>
    <Emp-name>deepit</Emp-name>
    <Emp-age>89</Emp-age>
    <Emp-salary>98765</Emp-salary>
    <Emp-emailid>deepit@gmail.com</Emp-emailid>
    <Emp-phonenumber>8769054321</Emp-phonenumber>
    <Emp-designation>Intern</Emp-designation>
  </Employee>
  <Employee>
    <Emp-id>3</Emp-id>
    <Emp-name>Saurav</Emp-name>
    <Emp-age>29</Emp-age>
    <Emp-salary>87654</Emp-salary>
    <Emp-emailid>saurav@gmail.com</Emp-emailid>
    <Emp-phonenumber>9876543210</Emp-phonenumber>
    <Emp-designation>Intern</Emp-designation>
  </Employee>
</Companys>
